.App{
  display: grid;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  grid-template-rows: 100px 50px 1fr 50px;
  grid-template-columns: 220px 1fr 500px;
  grid-gap: 100px;
}





.App-Header {
  grid-column-start: 0;
  grid-column-end: 4;
  grid-row-start: 0;
  grid-row-end: 2;

}


.NavBar{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 0;
  grid-column-end: 1;

  width: 200px;
  height: max-content;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 600;
  border-right: solid rgb(114, 2, 2) 3px;
}

.item{
  color:rgb(128, 3, 3);
}

a{
  text-decoration: none;
  color: rgb(10, 0, 56);
}


.app-wrapper-content{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  margin-left: 100px;

  border: 4px solid #1f1f1f;
  background-color: rgb(51, 51, 51);
  /* background: rgb(51, 51, 51) url("https://www.teahub.io/photos/full/340-3406101_-.jpg") no-repeat fixed 780px -100px; */
  background-clip: border-box;
  color: rgb(255, 229, 197);
  width: 100%;
  min-height: 720px;
  height: max-content;
}
